.my-navbar-brand
  color: #ffffff
  float: left
  height: 50px
  padding: 15px 15px
  font-size: 18px
  line-height: 20px

.navbar
  margin-bottom: 0px

.nav-tabs
  background-color: #f8f8f8

.my-navbar-header-color
  background: #0275d8

.my-navbar-header-color .navbar-brand
  color: #ffffff

#tabbar>li>a.active
  background-color: #ffffff

.my-page-wrapper-for-sidebar
  height: calc(100vh - 134px)

@media (min-width: 768px)
  .my-page-wrapper-for-sidebar
    height: calc(100vh - 51px - 52px)

.nav-sidebar>.active
  background-color: #e7e7e7