<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
	<link rel="stylesheet" type="text/css" href="./css/style.css">
</head>
<body>
	<div id="app">
		<todo-list-titles v-bind:todo-lists="todoLists"></todo-list-titles>
		<todo-list v-for="todoList in todoLists" v-bind:data="todoList" :key="todoList.id" v-on:removetodo="removeTodo" v-on:addnewtodo="addNewTodo"></todo-list>
	</div>
	<script type="text/x-template" id="todo-item">
		<li v-bind:class="[{done: done}]">
			<span>{{todo.title}}</span>
			<button v-on:click="toggleDone">done</button>
			<button v-on:click="showContent">show</button>
			<button v-on:click="removeTodo">remove</button>
		</li>
	</script>
	<script type="text/x-template" id="input-todo">
		<form>
			<input type="text" v-model="title" placeholder="title">
			<br>
			<input type="text" v-model="content" placeholder="content">
			<br>
			<input type="button" value="add" v-on:click="addNewTodo">
		</form>
	</script>
	<script type="text/x-template" id="todo-list">
		<div>
			<h2>{{data.title}}</h2>
			<ul>
				<todo-item v-for="todo in data.todos" v-bind:list-id="data.id" v-bind:todo="todo" :key="todo.id"></todo-item>
			</ul>
			<input-todo v-bind:list-id="data.id"></input-todo>
		</div>
	</script>
	<script type="text/x-template" id="todo-list-titles">
		<div>
			<ul>
				<li v-for="todoList in todoLists" :key="todoList.id" v-on:click="showList(todoList.id)">{{todoList.title}}</li>
			</ul>
		</div>
	</script>
	<script src="./javascripts/vue.js"></script>
	<script src="./javascripts/components.js"></script>
</body>
</html>